main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

p {
    text-align: center;
    font-size: large;
}

html {
    background-color:brown
}

#Field {
    font-size: 25px;
    font-weight: bold;
}